*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.page {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  inline-size: 1200px;
  block-size: 100%;
  margin: auto;
  color: #fff;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  background-color: #1b1919;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

.content {
  display: grid;
  grid-template-areas:
  "search-form search-form" 
  "content_list-conteiner content_list-conteiner";
  width: 1140px;
  max-width: 1200px;
  gap: 30px; 
}

.search-form { grid-area: search-form;}
.content_list-conteiner { grid-area: content_list-conteiner;}
.content_details { grid-area: content_details;}

.search-form {
  display: flex;
  align-content: flex-start;
  justify-content: space-between;
}

.search-form__fieldset-title {
  color: #fff;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.2;
  margin-bottom: 5px;
}

.search-form__fieldset {
  border: none;
  width: fit-content;
}

.title {
  margin-bottom: 26px;
  color: #fff;
  font-family: 'Oswald', sans-serif;
  font-size: 75px;
  font-weight: 700;
  line-height: 0.94;
  text-transform: uppercase;
}

.content__list {
  max-height: 298px;
  min-width: 420px;
  overflow: auto;
  position: relative;
}

.content__list-item:not(:last-child) {
  margin-bottom: 30px;
}

.content__list-item {
  width: 394px;
}

.content__list-item:focus-visible {
  outline: none;
}

.content__details {
  width: 100%;
  height: 100%;
}

.result {
  margin-top: 79px;
}

.result__video-container {
  width: 711px;
  height: 386px;
  position: relative;
  margin-bottom: 16px;
}

.result__video {
  object-fit: cover;
  width: 100%;
  height: 100%;
  inset: 0;
}

.content__video-card {
  display: flex;
  align-content: flex-start;
  justify-content: space-between;
  height: 107px;
}

.content__video-card-thumbnail {
  width: 194px;
  height: 103px;
  align-self: center;
}

.content__video-card-description-container {
  flex-grow: 1;
  margin-top: 2px;
  margin-left: 2px;
}

.content__video-card-title {
  color: #fff;
  font-family: 'Oswald', sans-serif;
  font-size: 30px;
  font-weight: 700;
  line-height: 1;
  text-transform: uppercase;
  margin-bottom: 6px;
}

.content__video-card-description {
  color: #fff;
  font-size: 18px;
  font-weight: 400;
  line-height: 0.9;
}

.content__video-card:hover {
  text-decoration: underline;
}

.content__card-link_current {
  text-decoration: none;
  background-color: #545050;
}

.content__accent {
  color: #545050;
}

.content__card-link { 
  text-decoration: none; 
  color: #fff;
  display: block; 
  margin: 2px; 
} 

.content__card-link:focus-visible { 
  outline: 1px solid #fff; 
} 

.search-form__checkbox-list {
  display: flex;
  gap: 15px;
}

.search-form__label:has(:focus-visible) {
  outline: 1px solid #fff;
}

.search-form__pseudo-checkbox {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 19px;
  height: 19px;
  border: 1px solid #fff;
}

.search-form__checkbox:checked + .search-form__pseudo-checkbox::after {
  content: '';
  min-width: 15px;
  min-height: 15px;
  background-color: #fff;
}

.search-form__label {
  display: flex;
  align-items: center;
  gap: 5px;
  width: fit-content;
}

.search-form__label:hover {
  cursor: pointer;
}

.search-form__label:has(.search-form__checkbox):hover {
  text-decoration: underline;
}

.visually-hidden {
  position: absolute;
  inline-size: 1px;
  block-size: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  white-space: nowrap;
}

.search-form__label:has(:focus-visible) {
  outline: 1px solid #fff;
}

.search-form__textfield {
  appearance: none;
  width: 225px;
  height: 27px;
  border: none;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
  padding: 0 13px 0 0;
  font-family: inherit;
  font-size: inherit;
  color: rgba(255, 255, 255, 0.70);
  background-color: transparent;
}

.search-form__textfield:focus {
  outline: none;
  outline: 1px solid #fff;
  outline-offset: 2px;
}

.button {
  background-color: transparent;
  border: 1px solid currentColor;
  color: #fff;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  font-weight: 700;
  text-align: center;
  padding: 6px 0;
  height: 34px;
}

.more-button {
  width: 100%;
  
}

.search-form__submit-button {
  width: 194px;
  align-self: flex-end;
}

.button:hover {
  cursor: pointer;
  text-decoration: underline;
}

.button:focus {
  outline: none;
  outline: 1px solid #FFF;
  outline-offset: 2px;
}

.button:active {
  background-color: #545050;
  text-decoration: none;
}

/* Кастомный скроллбар */
.custom-scrollbar::-webkit-scrollbar {
  width: 4px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: rgb(217 217 217 / 10%);
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #D9D9D9;
}
